body {
	background-color: blue;
}

.cw-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 5px;
	row-gap: 8px;
	width: 440px;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 1px;
	border-color: darkgray;
	border-style: solid;
	padding: 5px;
	background-color: rgb(14, 8, 0);
}
.cw-CE {
	grid-column-start: 1;
	grid-column-end: 4;
}
.cw-results {
	text-align: right;
	grid-column-start: 1;
	grid-column-end: 5;
}
.grid-item {
	background-color: gray;
}
 